body {
  transition: 1s;
  font-family: "JF flat";
}

@font-face {
  font-family: "JF flat";
  font-style: light;
  src: url(assets/JF-Flat-light.ttf);
}

@font-face {
  font-family: "JF flat";
  font-style: medium;
  src: url(assets/JF-Flat-regular.ttf);
}

@font-face {
  font-family: "JF flat";
  font-style: heavy;
  src: url(assets/JF-Flat-medium.ttf);
}
* {
  border: 1px red solid;
}
main {
  height: 100svh;
  max-width: 1000px;
  margin: 0 auto;
}

