*
{
}
body {
  transition: 1s;
  font-family: "JF flat";
}

@font-face {
  font-family: "JF flat";
  font-weight: 300;
  src: url(assets/JF-Flat-light.ttf);
}

@font-face {
  font-family: "JF flat";
  font-weight: 500;
  src: url(assets/JF-Flat-regular.ttf);
}

@font-face {
  font-family: "JF flat";
  font-weight: 800;
  src: url(assets/JF-Flat-medium.ttf);
}

.w {
          position: fixed;
          bottom: 1em;
          margin: 1em;
          border: 1px white solid;
          padding: 1em;
          z-index: 999;
	  background: #6B4a74;

        }
